<a href="https://colab.research.google.com/github/newb-dev-1008/GetBoarded_Latitude/blob/ipython/GetBoarded_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project to find the correlation between latitudes and the spread of CoVID-19**

**Objectives/ guidelines to keep in mind:**

*   Segregate all data region-wise
*   Replace the regions column with the corresponding latitudes from the latitudes dataset
*   Visually determine the rates of growth in cases in the most-hit and the least-hit regions
*   Predict the growth of cases and check if latitudes and growth are correlated; whether latitudes behave as a deciding factor in prediction

**IMPORTANT: Remember to add the CSV files everytime you log in to the notebook. The CSV files are kept in the GitHub repository; you can save them to your respective devices and upload them whenever you work.**

**Directions for saving:**

- Go to File - Save a copy on GitHub.
- Select the repository and the branch "ipython".
- **Do not change the name of the Colab notebook while saving.**

Also, try to create a text cell to note the variable names with their specifications wherever possible. It'll be helpful for all teammates.

In [0]:
import pandas as pd

latitudes = pd.read_csv('latitudes.csv')
covid_data = pd.read_csv('covid_19_data.csv')

In [203]:
latitudes_countries = latitudes.iloc[:, :4]
latitudes_countries.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [204]:
covid_data.head()

         Date Country/Region Province/State  ...  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN  ...        0.0        0.0     0.0
1  2020-01-23    Afghanistan            NaN  ...        0.0        0.0     0.0
2  2020-01-24    Afghanistan            NaN  ...        0.0        0.0     0.0
3  2020-01-25    Afghanistan            NaN  ...        0.0        0.0     0.0
4  2020-01-26    Afghanistan            NaN  ...        0.0        0.0     0.0

[5 rows x 8 columns]

**Finding all countries listed in the Country/ Region column of CoVID Dataset:**

In [205]:
covid_data['Country/Region'].unique()   #Returns all unique labels contained in the column
covid_data['Country/Region'].nunique()   #Returns number of unique labels contained in the column

185

**Similarly, finding all countries listed under the 'Country' column of the latitudes dataset**

In [206]:
latitudes_countries['country'].unique()
latitudes_countries['country'].nunique()

245

# **We Observe:**
- China is called "Mainland China" in the CoVID-19 Dataset
- The number of countries in the latitude dataset is more; the countries present in both datasets need to be replaced with their corresponding latitudes

Hence, we need to:
- Check for extra countries in either dataset
- Merge those countries with bigger countries manually (ex: if one dataset calls it US while the other calls it United States, both need to be merged into one label and so on)
- Discard redundant countries/ countries with zero cases

In [207]:
latitudes_countries['country'].unique()

array(['Andorra', 'United Arab Emirates', 'Afghanistan',
       'Antigua and Barbuda', 'Anguilla', 'Albania', 'Armenia',
       'Netherlands Antilles', 'Angola', 'Antarctica', 'Argentina',
       'American Samoa', 'Austria', 'Australia', 'Aruba', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin',
       'Bermuda', 'Brunei', 'Bolivia', 'Brazil', 'Bahamas', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Belarus', 'Belize', 'Canada',
       'Cocos [Keeling] Islands', 'Congo [DRC]',
       'Central African Republic', 'Congo [Republic]', 'Switzerland',
       "Côte d'Ivoire", 'Cook Islands', 'Chile', 'Cameroon', 'China',
       'Colombia', 'Costa Rica', 'Cuba', 'Cape Verde', 'Christmas Island',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark',
       'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia',
       'Egypt', 'Western Sahara', 'Eritrea', 'Spain', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands [Islas Malvinas]',
       'Micronesia', 'Faroe Islands', 'France', 'Gabon', 'United Kingdom',
       'Grenada', 'Georgia', 'French Guiana', 'Guernsey', 'Ghana',
       'Gibraltar', 'Greenland', 'Gambia', 'Guinea', 'Guadeloupe',
       'Equatorial Guinea', 'Greece',
       'South Georgia and the South Sandwich Islands', 'Guatemala',
       'Guam', 'Guinea-Bissau', 'Guyana', 'Gaza Strip', 'Hong Kong',
       'Heard Island and McDonald Islands', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Isle of Man', 'India', 'British Indian Ocean Territory', 'Iraq',
       'Iran', 'Iceland', 'Italy', 'Jersey', 'Jamaica', 'Jordan', 'Japan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros',
       'Saint Kitts and Nevis', 'North Korea', 'South Korea', 'Kuwait',
       'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon', 'Saint Lucia',
       'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova',
       'Montenegro', 'Madagascar', 'Marshall Islands',
       'Macedonia [FYROM]', 'Mali', 'Myanmar [Burma]', 'Mongolia',
       'Macau', 'Northern Mariana Islands', 'Martinique', 'Mauritania',
       'Montserrat', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico',
       'Malaysia', 'Mozambique', 'Namibia', 'New Caledonia', 'Niger',
       'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway',
       'Nepal', 'Nauru', 'Niue', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan',
       'Poland', 'Saint Pierre and Miquelon', 'Pitcairn Islands',
       'Puerto Rico', 'Palestinian Territories', 'Portugal', 'Palau',
       'Paraguay', 'Qatar', 'Réunion', 'Romania', 'Serbia', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan',
       'Sweden', 'Singapore', 'Saint Helena', 'Slovenia',
       'Svalbard and Jan Mayen', 'Slovakia', 'Sierra Leone', 'San Marino',
       'Senegal', 'Somalia', 'Suriname', 'São Tomé and Príncipe',
       'El Salvador', 'Syria', 'Swaziland', 'Turks and Caicos Islands',
       'Chad', 'French Southern Territories', 'Togo', 'Thailand',
       'Tajikistan', 'Tokelau', 'Timor-Leste', 'Turkmenistan', 'Tunisia',
       'Tonga', 'Turkey', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Ukraine', 'Uganda', 'U.S. Minor Outlying Islands',
       'United States', 'Uruguay', 'Uzbekistan', 'Vatican City',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'U.S. Virgin Islands', 'Vietnam',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Kosovo', 'Yemen',
       'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [208]:
covid_data['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea-Bissau', 'Guinea', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [0]:
#Define a function to seperate extra countries in both datasets
import numpy as np

def extra_countries(c1, c2):
  extra_countries = []
  for i in c1:
    flag = 0
    for j in c2:
      if (i == j):
        flag = 1
    if (flag == 0):
      extra_countries.append(i)
  
  return np.array(extra_countries)

In [210]:
#Finding countries that are in latitudes.csv but not in covid_19_data.csv

extra_countries(latitudes_countries['country'].unique(), covid_data['Country/Region'].unique())

array(['Anguilla', 'Netherlands Antilles', 'Antarctica', 'American Samoa',
       'Aruba', 'Bermuda', 'Bouvet Island', 'Cocos [Keeling] Islands',
       'Congo [DRC]', 'Congo [Republic]', "Côte d'Ivoire", 'Cook Islands',
       'Cape Verde', 'Christmas Island', 'Czech Republic',
       'Falkland Islands [Islas Malvinas]', 'Micronesia', 'Faroe Islands',
       'French Guiana', 'Guernsey', 'Gibraltar', 'Greenland',
       'Guadeloupe', 'South Georgia and the South Sandwich Islands',
       'Guam', 'Gaza Strip', 'Hong Kong',
       'Heard Island and McDonald Islands', 'Isle of Man',
       'British Indian Ocean Territory', 'Jersey', 'Kiribati', 'Comoros',
       'North Korea', 'South Korea', 'Cayman Islands', 'Lesotho',
       'Marshall Islands', 'Macedonia [FYROM]', 'Myanmar [Burma]',
       'Macau', 'Northern Mariana Islands', 'Martinique', 'Montserrat',
       'New Caledonia', 'Norfolk Island', 'Nauru', 'Niue',
       'French Polynesia', 'Saint Pierre and Miquelon',
       'Pitcairn Islands', 'Puerto Rico', 'Palestinian Territories',
       'Palau', 'Réunion', 'Solomon Islands', 'Saint Helena',
       'Svalbard and Jan Mayen', 'São Tomé and Príncipe', 'Swaziland',
       'Turks and Caicos Islands', 'French Southern Territories',
       'Tajikistan', 'Tokelau', 'Turkmenistan', 'Tonga', 'Tuvalu',
       'Taiwan', 'U.S. Minor Outlying Islands', 'United States',
       'Vatican City', 'British Virgin Islands', 'U.S. Virgin Islands',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Mayotte'], dtype='<U44')

In [211]:
#Finding countries that are in covid_19_data.csv but not in latitudes.csv

extra_countries(covid_data['Country/Region'].unique(),latitudes_countries['country'].unique())

array(['Burma', 'Cabo Verde', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       "Cote d'Ivoire", 'Czechia', 'Diamond Princess', 'Eswatini',
       'Holy See', 'Korea, South', 'MS Zaandam', 'North Macedonia',
       'Sao Tome and Principe', 'South Sudan', 'Taiwan*', 'US',
       'West Bank and Gaza'], dtype='<U21')

**Replace country names in CoVID-19 dataset with matching names from Latitudes dataset**

In [0]:
corrected_covid_data = covid_data.replace(['Burma','Congo (Brazzaville)', 'Congo (Kinshasa)',
       "Cote d'Ivoire", 'Czechia', 'Diamond Princess',
       'Korea, South', 'North Macedonia',
       'South Sudan', 'Taiwan*', 'US',
       'West Bank and Gaza'], ['Myanmar [Burma]', 'Congo [DRC]', 'Congo [DRC]', "Côte d'Ivoire", 'Czech Republic',
                               'Japan', 'South Korea',
                               'Macedonia [FYROM]', 'Sudan', 'Taiwan', 'United States', 'Gaza Strip'])
countries_to_drop = ['Holy See','Eswatini', 'Cabo Verde','MS Zaandam',
                     'Sao Tome and Principe']

In [213]:
corrected_covid_data.head()

         Date Country/Region Province/State  ...  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN  ...        0.0        0.0     0.0
1  2020-01-23    Afghanistan            NaN  ...        0.0        0.0     0.0
2  2020-01-24    Afghanistan            NaN  ...        0.0        0.0     0.0
3  2020-01-25    Afghanistan            NaN  ...        0.0        0.0     0.0
4  2020-01-26    Afghanistan            NaN  ...        0.0        0.0     0.0

[5 rows x 8 columns]

In [214]:
#Finding countries in corrected_covid_data but not in latitudes

extras = extra_countries(corrected_covid_data['Country/Region'].unique(), latitudes_countries['country'].unique())
print(extras)

['Cabo Verde' 'Eswatini' 'Holy See' 'MS Zaandam' 'Sao Tome and Principe']

In [0]:
for i in extras:
  corrected_covid_data = corrected_covid_data[corrected_covid_data['Country/Region'] != i]

## **Enter code to replace the Country/ Region column with the latitude and longitude columns**
Also, drop unnecessary columns

In [216]:
latitudes_countries.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [0]:
req_lat_long = latitudes_countries.loc[:,['country','latitude', 'longitude']]
req_lat_long = req_lat_long.set_index('country')

In [218]:
req_lat_long.head()

                       latitude  longitude
country
Andorra               42.546245   1.601554
United Arab Emirates  23.424076  53.847818
Afghanistan           33.939110  67.709953
Antigua and Barbuda   17.060816 -61.796428
Anguilla              18.220554 -63.068615

In [0]:
latitude_cols = []
longitude_cols = []

for i in corrected_covid_data['Country/Region']:
  latitude = req_lat_long.loc[i, 'latitude']
  longitude = req_lat_long.loc[i, 'longitude']
  latitude_cols.append(latitude)
  longitude_cols.append(longitude)

latitude_cols = np.array(latitude_cols)
longitude_cols = np.array(longitude_cols)

In [0]:
corrected_covid_data['Latitude'] = latitude_cols
corrected_covid_data['Longitude'] = longitude_cols

In [221]:
corrected_covid_data = corrected_covid_data.drop(['Lat','Long'], axis = 1)
corrected_covid_data.head()       #Obtained latitude and longitude for all countries within the dataframe

         Date Country/Region Province/State  ...  Deaths  Latitude  Longitude
0  2020-01-22    Afghanistan            NaN  ...     0.0  33.93911  67.709953
1  2020-01-23    Afghanistan            NaN  ...     0.0  33.93911  67.709953
2  2020-01-24    Afghanistan            NaN  ...     0.0  33.93911  67.709953
3  2020-01-25    Afghanistan            NaN  ...     0.0  33.93911  67.709953
4  2020-01-26    Afghanistan            NaN  ...     0.0  33.93911  67.709953

[5 rows x 8 columns]

In [222]:
corrected_covid_data = corrected_covid_data.drop(['Province/State'], axis = 1)
corrected_covid_data.head()

         Date Country/Region  Confirmed  Recovered  Deaths  Latitude  Longitude
0  2020-01-22    Afghanistan        0.0        0.0     0.0  33.93911  67.709953
1  2020-01-23    Afghanistan        0.0        0.0     0.0  33.93911  67.709953
2  2020-01-24    Afghanistan        0.0        0.0     0.0  33.93911  67.709953
3  2020-01-25    Afghanistan        0.0        0.0     0.0  33.93911  67.709953
4  2020-01-26    Afghanistan        0.0        0.0     0.0  33.93911  67.709953

In [0]:
#Obtain a list of all affected countries
def most_affected(X):
  country_cases = {}
  countries = X.index.unique()
  for i in countries:
    cases =  np.sum(X.loc[[i],['Confirmed']])
    country_cases[i] = cases

  country_cases_df = pd.DataFrame(country_cases)
  country_cases_df = country_cases_df.transpose()
  affected_countries = []
  for i in range(8):
    country = country_cases_df[['Confirmed']].idxmax()['Confirmed']
    affected_countries.append(country)
    country_cases_df = country_cases_df.drop([country], axis = 0)

  return affected_countries

In [0]:
corrected_covid_data['Date'] =  pd.to_datetime(corrected_covid_data['Date'],
                              format='%Y-%m-%d')

In [225]:
temperature = pd.read_csv('temperature_dataframe.csv')
temperature.head()

   Unnamed: 0  id province  ... sunHour  tempC  windspeedKmph
0           0   1      NaN  ...     8.7   -1.0            8.0
1           1   2      NaN  ...     8.7   -3.0            8.0
2           2   3      NaN  ...     7.1    0.0            7.0
3           3   4      NaN  ...     8.7    0.0            7.0
4           4   5      NaN  ...     8.7   -1.0            8.0

[5 rows x 14 columns]

In [0]:
humidity = (temperature['humidity'].groupby(temperature['country']))
temp = temperature['tempC'].groupby(temperature['country'])

In [227]:
temp.head()

0        -1.0
1        -3.0
2         0.0
3         0.0
4        -1.0
         ...
16617    25.0
16618    27.0
16619    27.0
16620    26.0
16621    28.0
Name: tempC, Length: 780, dtype: float64

In [228]:
extra_countries(corrected_covid_data['Country/Region'].unique(), temperature['country'].unique())

array(['Angola', 'Antigua and Barbuda', 'Belize', 'Botswana',
       'Myanmar [Burma]', 'Burundi', 'Chad', 'Congo [DRC]', 'Costa Rica',
       "Côte d'Ivoire", 'Dominica', 'El Salvador', 'Eritrea', 'Fiji',
       'Grenada', 'Guinea-Bissau', 'Haiti', 'South Korea', 'Laos',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mozambique', 'Nicaragua',
       'Niger', 'Macedonia [FYROM]', 'Papua New Guinea',
       'Saint Kitts and Nevis', 'San Marino', 'Sierra Leone', 'Syria',
       'Timor-Leste', 'United States', 'Uganda', 'United Arab Emirates',
       'United Kingdom', 'Gaza Strip', 'Western Sahara', 'Yemen',
       'Zimbabwe'], dtype='<U21')

In [229]:
# In temperature but not in covid_data
extra_countries(temperature['country'].unique(), corrected_covid_data['Country/Region'].unique())

array(['Barbuda', 'Aruba', "Cote d'Ivoire", 'Eswatini', 'French Guiana',
       'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Jersey', 'Korea',
       'Martinique', 'Mayotte', 'Macedonia', 'Puerto Rico', 'Congo',
       'Reunion', 'USA', 'UAE', 'UK'], dtype='<U13')

In [0]:
temp_corrected_data = temperature.replace(['Barbuda', 'Aruba', "Cote d'Ivoire", 'French Guiana',
       'Greenland', 'Guadeloupe', 'Korea',
       'Macedonia', 'Congo', 'USA', 'UAE', 'UK'], ['Antigua and Barbuda', 'Netherlands', "Côte d'Ivoire", 'France',
                                        'Denmark', 'France', 'South Korea', 'North Macedonia', 'Congo (Kinshasa)', 'United States',
                                        'United Arab Emirates', 'United Kingdom'])
countries_to_drop = ['Eswatini', 'Guam', 'Guernsey', 'Jersey', 'Martinique', 'Mayotte', 'Puerto Rico', 'Reunion']

In [0]:
#import statistics
avg_stuff = pd.DataFrame()
avg_stuff['Avg_temp'] = (temp_corrected_data['tempC'].groupby(temp_corrected_data['country'])).mean()
avg_stuff['Avg_humidity'] = (temp_corrected_data['humidity'].groupby(temp_corrected_data['country'])).mean()

In [232]:
avg_stuff.head()

                      Avg_temp  Avg_humidity
country
Afghanistan           6.216667     56.933333
Albania              13.950000     69.900000
Algeria              19.566667     61.716667
Andorra               7.383333     75.233333
Antigua and Barbuda  25.716667     75.150000

In [0]:
temp = []
humidity = []

for i in corrected_covid_data['Country/Region']:
  try:
    temperature = avg_stuff.loc[i, 'Avg_temp']
    humid = avg_stuff.loc[i, 'Avg_humidity']
    temp.append(temperature)
    humidity.append(humid)
  except KeyError:
    temp.append('NaN')
    humidity.append('NaN')
temp = np.array(temp)
humidity = np.array(humidity)

In [0]:
corrected_covid_data['Average Temperature'] = temp
corrected_covid_data['Average Humidity'] = humidity

In [235]:
corrected_covid_data

            Date Country/Region  ...  Average Temperature   Average Humidity
0     2020-01-22    Afghanistan  ...    6.216666666666667  56.93333333333333
1     2020-01-23    Afghanistan  ...    6.216666666666667  56.93333333333333
2     2020-01-24    Afghanistan  ...    6.216666666666667  56.93333333333333
3     2020-01-25    Afghanistan  ...    6.216666666666667  56.93333333333333
4     2020-01-26    Afghanistan  ...    6.216666666666667  56.93333333333333
...          ...            ...  ...                  ...                ...
23755 2020-04-16       Zimbabwe  ...                  NaN                NaN
23756 2020-04-17       Zimbabwe  ...                  NaN                NaN
23757 2020-04-18       Zimbabwe  ...                  NaN                NaN
23758 2020-04-19       Zimbabwe  ...                  NaN                NaN
23759 2020-04-20       Zimbabwe  ...                  NaN                NaN

[23310 rows x 9 columns]

In [236]:
corrected_covid_data.set_index(['Country/Region'])

                     Date  Confirmed  ...  Average Temperature   Average Humidity
Country/Region                        ...
Afghanistan    2020-01-22        0.0  ...    6.216666666666667  56.93333333333333
Afghanistan    2020-01-23        0.0  ...    6.216666666666667  56.93333333333333
Afghanistan    2020-01-24        0.0  ...    6.216666666666667  56.93333333333333
Afghanistan    2020-01-25        0.0  ...    6.216666666666667  56.93333333333333
Afghanistan    2020-01-26        0.0  ...    6.216666666666667  56.93333333333333
...                   ...        ...  ...                  ...                ...
Zimbabwe       2020-04-16       23.0  ...                  NaN                NaN
Zimbabwe       2020-04-17       24.0  ...                  NaN                NaN
Zimbabwe       2020-04-18       25.0  ...                  NaN                NaN
Zimbabwe       2020-04-19       25.0  ...                  NaN                NaN
Zimbabwe       2020-04-20       25.0  ...                  NaN                NaN

[23310 rows x 8 columns]

In [0]:
corrected_covid_data.reset_index(drop = True, inplace = True)

In [0]:
corrected_covid_data.set_index('Country/Region', inplace = True)

In [0]:
df_most_affected = corrected_covid_data
affected = most_affected(df_most_affected)

In [243]:
print(affected)

['United States', 'China', 'Italy', 'Spain', 'Germany', 'France', 'Iran', 'United Kingdom']